@import "../common/colors";
@import "../common/utils";

#search-box {
	@include search-box();
	padding: 14px 20px 12px 45px;
	width: 40vw;
	position: absolute;
	transition: width 0.5s linear;
	left: 30%;
	top: 8px;
	position: absolute;

	//
	background-image: url("../../static/img/s3.png");
	background-position: 15px 15px;
	background-size: 25px;
	background-repeat: no-repeat;
}

// #search-container {
// 	height: 50px;
// }

#search-box:focus {
	border: 1px solid $dakuleda-black;
	border-radius: 20px;
}

#search-icon {
	display: none;
}

// .visible-search {
// 	position: absolute;
// 	display: block;
// 	border-radius: 0px;
// 	width: 90%;
// 	top: 10%;
// 	left: 10%;
// }

.search-results {
	// margin-top: 3.2rem;
	width: 37vw;
	position: absolute;
	left: 31vw;
	top: 8vh;
	// padding: 5px;
	background-color: whitesmoke;
	z-index: 2;
	// height: 400px;
}

.search-result {
	padding: 10px;
	display: flex;
	align-items: center;
	// margin: 5px;

	a {
		text-decoration: none;
		color: #333;
	}

	a:hover {
		text-decoration: none;
		color: #333;
		color: $dakuleda-gold;
		font-weight: bold;
	}
}

@media screen and (max-width: 450px) {
	.search {
		display: none;
	}

	#search-box {
		width: 55vw;
		left: 40%;
	}

	.search-mobile {
		display: block;
	}

	.search-results {
		width: 100vw;
		min-height: 100vh;
		left: 0;
		top: 9vh;
	}

	#search-icon {
		display: inline-block;
	}
}
