@import "./common/colors";

.admin-template {
	height: 100vh;
	overflow-x: hidden;
	position: relative;

	.content {
		background-color: #dde;
		min-height: 100vh;
	}

	.nav {
		width: 100vw;
		background-color: whitesmoke;
		display: flex;
		flex-direction: row;
		padding: 0 9.5vw 0 9.5vw;
	}

	.upper-nav {
		justify-content: space-between;
	}

	.lower-nav {
		border-top: 1px solid #ddd;
	}

	.nav-link {
		font-size: 15px;
		color: gray;
	}
}

.active-link,
.active-link:hover {
	font-weight: bold;
	border-bottom: 2px solid $dakuleda-dark-gold;
	color: $dakuleda-dark-gold !important;
}

.page {
	.sub-menu {
		display: flex;
		background-color: whitesmoke;
		// padding-left: 10px;
		// justify-content: space-evenly;
		.tab {
			padding: 10px 15px 10px 15px;
			text-decoration: none;
			color: #333;

			// margin-right: 50px;

			&:hover {
				background-color: $dakuleda-gold;
				color: #333;
			}
		}

		.active-tab {
			background-color: $dakuleda-gold;
			color: #333;
			font-weight: bold;
		}
	}

	.components {
		margin-top: 15px;

		.detail-view {
			padding: 10px;
			// height: 100%;
			// max-height: 900px;
			background-color: white;
		}
	}
}

// dashboard

.d-card {
	padding: 7px 20px 7px 20px;

	p {
		padding: 0px;
		margin: 0px;
	}
}
